<h1>Listing calculations</h1>
<%= render "calculations/search" %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Cal ID.</th>
      <th>Bet ID.</th>
      <th>Facebook</th>
      <th>Player</th>
      <th>Match</th>
      <th>Description</th>
      <th>Total point</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calculations.each do |calculation| %>
      <tr>
      	<td><%= calculation.id %></td>
        <td><%= calculation.bet.id %></td>
        <td><%= facebook_image_tag calculation.player %></td>
        <td><%= calculation.player.name %></td>
        <td><%= calculation.bet.match.match.localtime.to_formatted_s(:short) %></td>
        <td><%= calculation.bet.match.description %></td>
        <td><%= calculation.total_point %></td>
        <td><%= button_to "View", calculation , :method => :get , :class=>"btn btn-default"%></td>
        <% if current_user.admin? %>
        <td><%= button_to "Edit", edit_calculation_path(calculation) , :method => :get , :class=>"btn btn-default"%></td>
        <td><%= link_to 'Destroy', calculation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @calculations %>
<br>
