<strong>Bets (Open)</strong>
<%= link_to('View all',{ controller: "bets"} ) %>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Date/Time</th>
			<th>Description</th>
			<th>Team1</th>
			<th>Team2</th>
			<th>Result</th>
			<th>Score</th>
			<th>Close</th>
			<th>Pts</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @bets.each_with_index do |bet,index| %>
		<%if bet.match.closed == true%>
		<tr class="success">
			<%else%>
		<tr>
			<%end %>
			<td><%= index+1 %></td>
			<td><%= bet.match.match.localtime.to_formatted_s(:short) %></td>
			<td><%= bet.match.description %></td>
			<td><%= flag_image_tag bet.match.team1 %></td>
			<td><%= flag_image_tag bet.match.team2 %></td>
			<td><%= match_result_flat_image_tag(bet.result,bet.match) %></td>
			<td><strong><%= bet.team1_score.to_s+'-'+bet.team2_score.to_s %></strong></td>
			<td><%= bet.match.closed %></td>
			<% if bet.calculation != nil %>
			<td><%= bet.calculation.total_point %></td>
			<% else %>
			<td><%= '?' %></td>
			<% end %>
			<%if bet.match.closed == true%>
			<td><%= button_to "Bet", edit_bet_path(bet), :method => :get , :disabled => true %></td>
			<% else %>
			<td><%= button_to "Bet", edit_bet_path(bet), :method => :get %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>