<strong>Information</strong>
<div class="row">
	<div class="col-md-2">
		<p>
			<%= facebook_thumbnail_image_tag(current_user,'small') %>
		</p>
	</div>
	<div class="col-md-5">
		<p>
			<strong>Provider:</strong>
			<%= current_user.provider %>
		</p>
		<p>
			<strong>UID:</strong>
			<%= current_user.uid %>
		</p>
		<p>
			<strong>Name:</strong>
			<%= current_user.name %>
		</p>
		<p>
			<strong>Expires:</strong>
			<%= current_user.oauth_expires_at.localtime %>
		</p>
		
	</div>
	<div class="col-md-5">
		<p>
			<% if current_user.player == nil %>
			<strong>Player:</strong>
			<%= link_to 'Register', new_player_path %>
			<% else%>
			<strong>Player:</strong>
			<%= link_to current_user.player.name , current_user.player %>
			<% end %>
		</p>

		<p>
			<% if current_user.player == nil %>
			<strong>Register:</strong>
			<%= '-' %>
			<% else%>
			<strong>Register:</strong>
			<%= current_user.player.created_at.localtime %>
			<% end %>
		</p>
		<p>
			<% if current_user.player == nil %>
			<strong>Favorite team:</strong>
			<%= '-' %>
			<% else%>
			<strong>Favorite team:</strong>
			<%= flag_image_tag current_user.player.team %>
			<% end %>
		</p>
		
	</div>
</div>

