<strong>Information</strong>
<div class="row">
	<div class="col-md-2">
		<p>
			<%= facebook_thumbnail_image_tag(current_user,'small') %>
		</p>
	</div>
	<div class="col-md-5">
		<p>
			<strong>UID:</strong>
			<%= current_user.uid %>
		</p>
		<p>
			<strong>URL:</strong>
			<%= link_to 'Facebook' , url_for(current_user.link) , :target => "_blank" %>
		</p>
		<p>
			<strong>Name:</strong>
			<%= current_user.name %>
		</p>
	</div>
	<div class="col-md-5">
		<p>
			<% if current_user.player == nil %>
			<strong>Player:</strong>
			<%= link_to 'Register', new_player_path %>
			<% else%>
			<strong>Player:</strong>
			<%= link_to current_user.player.name , current_user.player %>
			<% end %>
		</p>

		<p>
			<% if current_user.player == nil %>
			<strong>Register:</strong>
			<%= '-' %>
			<% else%>
			<strong>Register:</strong>
			<%= current_user.player.created_at.localtime.to_formatted_s(:short) %>
			<% end %>
		</p>
		<p>
			<% if current_user.player == nil %>
			<strong>Favorite team:</strong>
			<%= '-' %>
			<% else%>
			<strong>Favorite team:</strong>
			<%= flag_image_tag current_user.player.team %>
			<% end %>
		</p>
	</div>
</div>

