<strong>Matches (Open)</strong>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Date/Time</th>
			<th>Description</th>
			<th>Team1</th>
			<th>Team2</th>
			<th>LIVE</th>
		</tr>
	</thead>

	<tbody>
		<% @matches_open.each_with_index do |match,index| %>
		<tr>
			<td><%= index+1 %></td>
			<td><%= match.match.localtime %></td>
			<td><%= match.description %></td>
			<td><%= flag_image_tag match.team1 %></td>
			<td><%= flag_image_tag match.team2 %></td>
			<td>
			<% match.live.split(",").each do |ch| %>
      			<%= image_tag("/"+ch+".png") %>
   			<% end%>	
			</td>
		</tr>
		<% end %>
	</tbody>
</table>