<strong>Table</strong>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th title="Player name">Player</th>
			<th title="Played">P</th>
			<th title="Total point">Pts</th>
			<th title="Total point">LPts</th>
		</tr>
	</thead>

	<tbody>
		<% @tables.each_with_index do |player,index| %>
		<% if index < 3 %>
			<tr class="success">
		<% else %>
			<% if index > (@tables.count-4)%>
				<tr class="danger">
			<% else %>
				<tr>
			<% end %>
		<%end%>

			<td><%= index+1 %></td>
			<td><%= facebook_image_tag player %></td>
			<td><%= player.played %></td>
			<td><%= player.pts %></td>
			<td><%= player.lpts %></td>
		</tr>
		<% end %>
	</tbody>
</table>