<strong>Table</strong>
<table class="table">
	<thead>
		<tr>
			<th>Lpts Pos.</th>
			<th>Pts Pos.</th>
			<th title="Facebook">Facebook</th>
			<th title="Player">Player</th>
			<th title="Played">P</th>
			<th title="Win">W</th>
			<th title="Draw">D</th>
			<th title="Loss">L</th>
			<th title="Points">Pts</th>
			<th title="League points">Lpts</th>
			<th title="Points payment (baht)">Pts payment</th>
			<th title="League points payment (baht)">Lpts payment</th>
			<th title="Total payment (baht)">Total payment</th>
		</tr>
	</thead>

	<tbody>
		<% @tables.each_with_index do |player,index| %>
		
		<% if index < 3 %>
			<tr class="success">
		<% else %>
			<% if index > (@tables.count-4)%>
				<tr class="danger">
			<% else %>
				<% if current_user.player == player %>
					<tr class="info">
				<% else %>
					<tr>
				<% end %>
			<% end %>
		<%end%>

			<td><%= player.lpts_pos %></td>
			<td><%= player.pts_pos %></td>
			<td><%= facebook_image_tag player %></td>
			<td><%= link_to player.name , player %></td>
			<td><%= player.played %></td>
			<td><%= player.win %></td>
			<td><%= player.draw %></td>
			<td><%= player.loss %></td>
			<td><%= player.pts %></td>
			<td><%= player.lpts %></td>
			<td><%= player.pts_pay %></td>
			<td><%= player.lpts_pay %></td>
			<td><%= player.total_pay %></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>