<strong>Table</strong>

<script>
	$(function() {
		$("#playerTable").tablesorter();
	}); 
</script>

<table id="playerTable" class="tablesorter-default">
	<thead>
		<tr>
			<th>Bpts Pos.</th>
			<th>Pts Pos.</th>
			<th title="Facebook">Facebook</th>
			<th title="Player">Player</th>
			<th title="Played">P</th>
			<th title="Win">W</th>
			<th title="Draw">D</th>
			<th title="Loss">L</th>
			<th title="Points">Pts</th>
			<th title="Battle points">Bpts</th>
			<th title="Points paid (baht)">Ppts paid</th>
			<th title="Battle points paid (baht)">Bpts paid</th>
			<th title="Total paid (baht)">Total paid (<%= number_with_delimiter(@total_pay, :delimiter => ',') %> baht)</th>
		</tr>
	</thead>

	<tbody>
		<% @players.each_with_index do |player,index| %>
		<tr>
			<td><%= player.lpts_pos %></td>
			<td><%= player.pts_pos %></td>
			<td><%= facebook_image_tag player %></td>
			<td><%= link_to player.name , player %></td>
			<td><%= player.played %></td>
			<td><%= player.win %></td>
			<td><%= player.draw %></td>
			<td><%= player.loss %></td>
			<td><%= player.pts %></td>
			<td><%= player.lpts %></td>
			<td><%= player.pts_pay %></td>
			<td><%= player.lpts_pay %></td>
			<td><%= player.total_pay %></td>
			<td></td>
		</tr>
		<% end %>
	</tbody>
</table>