<div class="row">
	<div class="col-md-8">
		<%= render 'main/information' %>
	</div>
	<div class="col-md-4">
		<%= render 'main/notification' %>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<%= render 'main/matches_close' %>
	</div>
	<div class="col-md-6">
		<%= render 'main/matches_open' %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= render 'main/bets' %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= render 'main/table' %>
	</div>
</div>
