<div class="row">
	<div class="col-md-9">
		<%= render 'main/information' %>
		<%= render 'main/matches_close' %>
		<%= render 'main/matches_open' %>
		<%= render 'main/bets' %>
	</div>
	<div class="col-md-3">
		<%= render 'main/table' %>
	</div>
</div>