<div class="row">
	<div class="col-md-10">
		<%= render 'main/information' %>
		<%= render 'main/matches_close' %>
		<%= render 'main/matches_open' %>
		<%= render 'main/bets' %>
	</div>

	<div class="col-md-2">
		<%= render 'main/table' %>
	</div>
	
	
</div>