<%= form_tag("/teams", method: "get" , :role=>"form") do %>
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<%= label_tag(:teams ,"Team") %>
			<%= select_tag(:teams , options_for_select(Team.all.collect {|t| [ t.name , t.id]}), :include_blank => true , :class=>"form-control") %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<%= label_tag(:teamOrderBy,"เรียงลำดับตามจำนวนแฟนคลับ") %>
			<%= select_tag(:teamOrderBy, options_for_select(["มากไปน้อย","น้อยไปมาก"]) , :include_blank => true , :class=>"form-control") %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<%= submit_tag("Search" , :class=>"btn btn-default") %>
	</div>
</div>
<% end %>
