<%= form_for(@bet) do |f| %>
<% if @bet.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

	<ul>
		<% @bet.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<strong>Information</strong>
<div class="row">
	<div class="col-md-2">
		<p>
			<%= facebook_thumbnail_image_tag(@bet.player.user,'small') %>
		</p>
		<p>
			<strong>Name:</strong>
			<%= @bet.player.name %>
		</p>
		<p>
			<strong>Team:</strong>
			<%= flag_image_tag(@bet.player.team) %>
		</p>
	</div>
	<div class="col-md-5">
		<p>
			<strong>Match closed:</strong>
			<%= @bet.match.closed %>
		</p>
		<p>
			<strong>Team1:</strong>
			<%= flag_image_tag @bet.match.team1 %>
			<strong>Team2:</strong>
			<%= flag_image_tag @bet.match.team2 %>
		</p>
		<p>
			<strong>Description:</strong>
			<%= @bet.match.description %>
		</p>
		<p>
			<strong>Match date/time:</strong>
			<%= @bet.match.match.localtime.to_formatted_s(:short) %>
		</p>
		<p>
			<strong>LIVE:</strong>
			<% @bet.match.live.split(",").each do |ch| %>
			<%= live_image_tag(ch) %>
			<% end%>
		</p>
	</div>
</div>

<strong>Bet</strong>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> <%= f.label :result %><em><%= "(90 minutes #{@bet.calculation_config.team_winner_multiply} Pts)" %></em></td>
					<td> <%= f.select :result , {'Draw'=>0,'Team 1'=>1,'Team 2'=>2} ,{}, :disabled => @view_only %> </td>
				</tr>
				<tr>
					<td> <%= f.label :team1_score %><em><%= "(#{@bet.calculation_config.score_multiply} Pts)" %></em></td>
					<td> <%= f.number_field :team1_score , :readonly => @view_only %> </td>
				</tr>
				<tr>
					<td> <%= f.label :team2_score %><em><%= "(#{@bet.calculation_config.score_multiply} Pts)" %></em></td>
					<td> <%= f.number_field :team2_score , :readonly => @view_only %> </td>
				</tr>
				<tr>
					<td> <%= f.label :penalty %><em><%= "(#{@bet.calculation_config.penalty_multiply} Pts)" %></em></td>
					<td>
						<%= f.radio_button :penalty , false , :disabled => @view_only %>
						<%= f.label(:penalty, "No") %>
						<%= f.radio_button :penalty , true , :disabled => @view_only %>
						<%= f.label(:penalty, "Yes") %>
					</td>
				</tr>
				<tr>
					<td> <%= f.label :yellow_card , 'Yellow card > 3'%><em><%= "(#{@bet.calculation_config.yellow_card_multiply} Pts)" %></em></td>
					<td> <%= f.radio_button :yellow_card , false , :disabled => @view_only %>
					<%= f.label(:yellow_card, "No") %>
					<%= f.radio_button :yellow_card , true , :disabled => @view_only %>
					<%= f.label(:yellow_card, "Yes") %> </td>
				</tr>
				<tr>
					<td> <%= f.label :red_card %><em><%= "(#{@bet.calculation_config.red_card_multiply} Pts)" %></em></td>
					<td> <%= f.radio_button :red_card , false , :disabled => @view_only %>
					<%= f.label(:red_card, "No") %>
					<%= f.radio_button :red_card , true , :disabled => @view_only %>
					<%= f.label(:red_card, "Yes") %> </td>
				</tr>
				<tr>
					<td> <%= f.label :own_goal %><em><%= "(#{@bet.calculation_config.own_goal_multiply} Pts)" %></em></td>
					<td> <%= f.radio_button :own_goal , false , :disabled => @view_only %>
					<%= f.label(:own_goal, "No") %>
					<%= f.radio_button :own_goal , true , :disabled => @view_only %>
					<%= f.label(:own_goal, "Yes") %> </td>
				</tr>
				<tr>
					<td> <%= f.label 'Bonus favorite team' %><em><%= "(#{@bet.calculation_config.bonus_team_multiply} %)" %></em></td>
					<td> <%= flag_image_tag(@bet.player.team) %> </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<% if !@view_only %>
<div class="row">
	<div class="col-md-12">
		<div class="actions">
			<%= f.submit %>
		</div>
	</div>
</div>
<% end %>

<% end %>
