<%= form_tag("/bets", method: "get" , :role=>"form") do %>
<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<%= label_tag(:closed,"Closed") %>
			<%= select_tag(:closed,options_for_select([true,false]), :include_blank => true , :class=>"form-control") %>
		</div>
	</div>
	<div class="col-md-3">
		<div class="form-group">
			<%= label_tag(:match ,"Match") %>
			<%= select_tag(:match , options_for_select(Match.all.collect {|m| [ m.description+' ('+m.team1.name+' vs '+m.team2.name+')' , m.id]}), :include_blank => true , :class=>"form-control") %>
		</div>
	</div>
	<% if current_user.admin? %>
	<div class="col-md-3">
		<div class="form-group">
			<%= label_tag(:player) %>
			<%= select_tag(:player , options_for_select(Player.all.collect {|t| [ t.name , t.id]}), :include_blank => true , :class=>"form-control") %>
		</div>
	</div>
	<% end %>
</div>
<div class="row">
	<div class="col-md-3">
		<%= submit_tag("Search" , :class=>"btn btn-default") %>
	</div>
</div>
<% end %>
