<h1>Listing bets</h1>

<table class="table table-hover">
  <thead>
    <tr>
   	  <th>Player</th>
      <th>Match</th>
      <th>Bet team1 score</th>
      <th>Bet team2 score</th>
      <th>Team1 score</th>
      <th>Team2 score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
      	<td><%= facebook_image_tag bet.player.uid %></td>
        <td><%= match_image_tag bet.match %></td>
        <td><%= bet.team1_score %></td>
        <td><%= bet.team2_score %></td>
        <td><%= bet.match.team1_score %></td>
        <td><%= bet.match.team2_score %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
