<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @battle.match_id %>
</p>

<p>
  <strong>Player1:</strong>
  <%= @battle.player1_id %>
</p>

<p>
  <strong>Player2:</strong>
  <%= @battle.player2_id %>
</p>

<p>
  <strong>Result</strong>
  <%= @battle.result %>
</p>


<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
