<strong>Battles</strong>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Match</th>
			<th>Player1</th>
			<th>Player2</th>
			<th>Player1 Total Point</th>
			<th>Player2 Total Point</th>
			<th>Result</th>
		</tr>
	</thead>

	<tbody>
		<% @battles.each_with_index do |battle,index| %>
		<%if battle.match.closed == true%>
		<tr class="success">
			<%else%>
		<tr>
			<%end %>
			<td><%= index+1 %></td>
			<td><%= battle.match.description %></td>
			<td><%= facebook_image_tag battle.player1 %></td>
			<td><%= facebook_image_tag battle.player2 %></td>
			<td><%= battle.player1_total_point %></td>
			<td><%= battle.player2_total_point %></td>
			<td><%= battle_result_facebook_image_tag battle.result,battle %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @battles %>