<strong>Information</strong>
<div class="row">
	<div class="col-md-2">
		<p>
			<%= facebook_thumbnail_image_tag(@player.user,'small') %>
		</p>
	</div>
	<div class="col-md-5">
		<ul class="list-group">
			<li class="list-group-item">
				<strong>UID:</strong>
				<% if @player.user.nil? %>
				<%= '-' %>
				<% else %>
				<%= @player.user.uid %>
				<% end %>
			</li>
			<li class="list-group-item">
				<strong>URL:</strong>
				<% if @player.user.nil? %>
				<%= '-' %>
				<% else %>
				<%= link_to 'Facebook' , url_for(@player.user.link) , :target => "_blank" %>
				<% end %>
			</li>
			<li class="list-group-item">
				<strong>Name:</strong>
				<% if @player.user.nil? %>
				<%= '-' %>
				<% else %>
				<%= @player.user.name %>
				<% end %>

			</li>
		</ul>
	</div>
	<div class="col-md-5">
		<ul class="list-group">
			<li class="list-group-item">
				<strong>Player:</strong>
				<%= @player.name %>
			</li>

			<li class="list-group-item">
				<strong>Register:</strong>
				<%= @player.created_at.localtime.to_formatted_s(:short) %>
			</li>
			<li class="list-group-item">
				<strong>Favorite team:</strong>
				<%= flag_image_tag @player.team %>
			</li>
		</ul>
	</div>
</div>

