<strong>Information</strong>
<div class="row">
	<div class="col-md-2">
		<p>
			<%= facebook_thumbnail_image_tag(@player.user,'small') %>
		</p>
	</div>
	<div class="col-md-5">
		<p>
			<strong>Provider:</strong>
			<% if @player.user.nil? %>
			<%= '-' %>
			<% else %>
			<%= @player.user.provider %>
			<% end %>
		</p>
		<p>
			<strong>UID:</strong>
			<% if @player.user.nil? %>
			<%= '-' %>
			<% else %>
			<%= @player.user.uid %>
			<% end %>
		</p>
		<p>
			<strong>Name:</strong>
			<% if @player.user.nil? %>
			<%= '-' %>
			<% else %>
			<%= @player.user.name %>
			<% end %>
			
		</p>
	</div>
	<div class="col-md-5">
		<p>
			<strong>Player:</strong>
			<%= @player.name %>
		</p>

		<p>
			<strong>Register:</strong>
			<%= @player.created_at.localtime %>
		</p>
		<p>
			<strong>Favorite team:</strong>
			<%= flag_image_tag @player.team %>
		</p>
	</div>
</div>

