<strong>Score Stat.</strong>
<table class="table">
	<thead>
		<tr>
			<th title="Played">P</th>
			<th title="Win">W</th>
			<th title="Draw">D</th>
			<th title="Loss">L</th>
			<th title="Points">Pts</th>
			<th title="Battle points">Bpts</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @player.played %></td>
			<td><%= @player.win %></td>
			<td><%= @player.draw %></td>
			<td><%= @player.loss %></td>
			<td><%= @player.pts %></td>
			<td><%= @player.lpts %></td>
		</tr>
	</tbody>
</table>

<strong>Bets stat.</strong>
<table class="table">
	<thead>
		<tr>
			<th title="Bet">Bet</th>
			<th title="Result">Result</th>
			<th title="Score">Score</th>
			<th title="Penalty">Penalty</th>
			<th title="Yello card">Yello card</th>
			<th title="Red card">Red card</th>
			<th title="Own goal">Own goal</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @cal_count %></td>
			<td><%= "#{@cal_result_currect}%"%></td>
			<td><%= "#{@cal_score_currect}%"%></td>
			<td><%= "#{@cal_penalty_currect}%"%></td>
			<td><%= "#{@cal_yellow_card_currect}%"%></td>
			<td><%= "#{@cal_red_card_currect}%"%></td>
			<td><%= "#{@cal_own_goal_current}%"%></td>
		</tr>
	</tbody>
</table>