<strong>Statistic</strong>
<table class="table">
	<thead>
		<tr>
			<th title="Played">P</th>
			<th title="Win">W</th>
			<th title="Draw">D</th>
			<th title="Loss">L</th>
			<th title="Points">Pts</th>
			<th title="Battle points">Bpts</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @player.played %></td>
			<td><%= @player.win %></td>
			<td><%= @player.draw %></td>
			<td><%= @player.loss %></td>
			<td><%= @player.pts %></td>
			<td><%= @player.lpts %></td>
		</tr>
	</tbody>
</table>