<strong>Score</strong>
<table class="table">
	<thead>
		<tr>
			<th title="Player name">Player</th>
			<th title="Played">P</th>
			<th title="Team winner point">TWP</th>
			<th title="Score point">SP</th>
			<th title="Total point">Pts</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @player.name %></td>
			<td><%= @player.played %></td>
			<td><%= @player.twp %></td>
			<td><%= @player.sp %></td>
			<td><%= @player.pts %></td>
		</tr>
	</tbody>
</table>