<h1>Listing players</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Player ID.</th>
			<th>Facebook</th>
			<th>Name</th>
			<th>UID</th>
			<th>Register</th>
			<th>Favorite team</th>
			<th>Pts</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @players.each  do |player| %>
		<tr>
			<td><%= player.id %></td>
			<td><%= facebook_image_tag player %></td>
			<td><%= player.name %></td>
			<td><%= player.uid %></td>
			<td><%= player.created_at.localtime.to_formatted_s(:short) %></td>
			<td><%= flag_image_tag player.team %></td>
			<td><%= player.pts %></td>
			<td><%= button_to "View", player , :method => :get %></td>
			<% if current_user.admin? || player.user == current_user %>
			<td><%= button_to "Edit", edit_player_path(player) , :method => :get %></td>
			<% else %>
			<td></td>
			<% end %>
			<% if current_user.admin? %>
			<td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
