<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @player.uid %>
</p>

<p>
  <strong>Team:</strong>
  <%= flag_image_tag @player.team %>
</p>

<%= render "players/bets"%>

<% if current_user.admin? %> 
	<%= link_to 'Edit', edit_player_path(@player) %> |
<% else %>
	<% if @player.user == current_user %>
		<%= link_to 'Edit', edit_player_path(@player) %> |
	<% end %>
<% end %>

<%= link_to 'Back', players_path %>
