<p id="notice"><%= notice %></p>

<%= render "players/information" %>
<%= render "players/table" %>
<%= render "players/bets" %>

<% if current_user.admin? %> 
	<%= link_to 'Edit', edit_player_path(@player) %> |
<% else %>
	<% if @player.user == current_user %>
		<%= link_to 'Edit', edit_player_path(@player) %> |
	<% end %>
<% end %>

<%= link_to 'Back', players_path %>
