<strong>Bets</strong>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Facebook</th>
			<th>Player name</th>
			<th>Pts</th>
		</tr>
	</thead>

	<tbody>
		<% @match.bets.collect.sort{ |a,b| b.pts <=> a.pts }.each_with_index do |bet,index| %>
		<%if bet.match.closed == true%>
		<tr class="success">
			<%else%>
		<tr>
			<%end %>
			<td><%= index+1 %></td>
			<td><%= facebook_image_tag bet.player %></td>
			<td><%= link_to bet.player.name,bet.player %></td>

			<% if bet.calculation != nil %>
			<td><%= link_to(bet.calculation.total_point,bet.calculation ) %></td>
			<% else %>
			<td><%= 'N/A' %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>