<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  
  <div class="field">
    <%= f.label :match %><br>
    <%= f.datetime_select :match %>
  </div>
  <div class="field">
    <%= f.label :team1_id %><br>
    <%= f.select :team1_id ,  Team.all.collect {|t| [ t.name , t.id]} %>
  </div>
  <div class="field">
    <%= f.label :team2_id %><br>
    <%= f.select :team2_id ,  Team.all.collect {|t| [ t.name , t.id]} %>
  </div>
  <div class="field">
    <%= f.label :winner_id %><br>
    <%= f.select :winner_id ,  Team.all.collect {|t| [ t.name , t.id]} , :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :team1_score %><br>
    <%= f.number_field :team1_score %>
  </div>
  <div class="field">
    <%= f.label :team2_score %><br>
    <%= f.number_field :team2_score %>
  </div>
  <div class="field">
    <%= f.label :ready %><br>
    <%= f.check_box :ready %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
