<strong>Result:</strong>
<table class="table table-hover">
	<thead>
		<tr>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> <%= label_tag :result %><em> (90 minutes)</em></td>
			<td> <%= match_result_flat_image_tag(@match.result,@match) %> </td>
		</tr>
		<tr>
			<td> <%= label_tag :team1_score %></td>
			<td> <%= @match.team1_score %> </td>
		</tr>
		<tr>
			<td> <%= label_tag :team2_score %></td>
			<td> <%= @match.team2_score %> </td>
		</tr>
		<tr>
			<td> <%= label_tag :penalty %></td>
			<td> <%= check_box_tag :penalty ,true, @match.penalty ,:disabled => @view_only%> </td>
		</tr>
		<tr>
			<td> <%= label_tag :yellow_card , 'Yellow card > 3'%></td>
			<td> <%= check_box_tag :yellow_card ,true, @match.yellow_card ,:disabled => @view_only%> </td>
		</tr>
		<tr>
			<td> <%= label_tag :red_card %></td>
			<td> <%= check_box_tag :red_card , true, @match.red_card , :disabled => @view_only  %> </td>
		</tr>
		<tr>
			<td> <%= label_tag :own_goal %></td>
			<td> <%= check_box_tag :own_goal , true , @match.own_goal , :disabled => @view_only %> </td>
		</tr>
	</tbody>
</table>
