<strong>Calculations</strong>
<table class="table">
	<thead>
		<tr>
			<th>Pos</th>
			<th title="Facebook">Player</th>
			<th title="Player">Player</th>
			<th title="Played">P</th>
			<th title="Win">W</th>
			<th title="Draw">D</th>
			<th title="Loss">L</th>
			<th title="Gd">Gd</th>
			<th title="Points">Pts</th>
		</tr>
	</thead>

	<tbody>
		<% @table.each_with_index do |player,index| %>
		<tr>
			<td><%= index+1 %></td>
			<td><%= facebook_image_tag player %></td>
			<td><%= link_to player.name , player %></td>
			<td><%= player.played %></td>
			<td><%= player.win %></td>
			<td><%= player.draw %></td>
			<td><%= player.loss %></td>
			<td><%= player.pts %></td>
			<td><%= player.lpts %></td>
		</tr>
		<% end %>
	</tbody>
</table>