<h1>Listing matches</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Match ID.</th>
			<th>Description</th>
			<th>Match</th>
			<th>Team1</th>
			<th>Team2</th>
			<th>LIVE</th>
			<th>Score</th>
			<th>Closed</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @matches.each do |match| %>
		<%if match.closed == true%>
		<tr class="success">
			<%else%>
		<tr>
			<%end %>

			<td><%= match.id %></td>
			<td><%= match.description %></td>
			<td><%= match.match %></td>
			<td><%= flag_image_tag match.team1 %></td>
			<td><%= flag_image_tag match.team2 %></td>
			<td><%= match.live %></td>
			<td><strong><%= match.team1_score.to_s+'-'+match.team2_score.to_s %></strong></td>
			<td><%= match.closed %></td>
			<td><%= link_to 'Show', match %></td>
			<td><%= link_to 'Edit', edit_match_path(match) %></td>
			<td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<td><%= link_to('Generate bets',{ controller: "generate" , action: "bets" , match: match}) %></td>
			<td><%= link_to('Calculate score',{ controller: "generate" , action: "calculate" , match: match}) %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
