<p id="notice">
	<%= notice %>
</p>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-12">
			<div class="col-md-6">
				<%= render "matches/information"%>
			</div>
			<div class="col-md-6">
				<%= render "matches/statistics"%>
			</div>
		</div>
		<div class="col-md-12">
			<%= render "matches/result"%>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= render "matches/table" %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<% if current_user.admin? %>
		<%= link_to 'Edit', edit_match_path(@match) %> |
		<% end %>
		<%= link_to 'Back', matches_path %>
	</div>
</div>

