<!-- Docs master nav -->
<header class="navbar navbar-static-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<%= link_to("WMSL World Cup 2014",{ :controller=>:main,:action=>:index } ,:class => "navbar-brand") %>
		</div>
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<% if current_user %>
				<li>
					<%= link_to('Players',{ controller: "players"}) %>
				</li>
				<li>
					<%= link_to('Teams',{ controller: "teams"}) %>
				</li>
				<li>
					<%= link_to('Matches',{ controller: "matches"}) %>
				</li>
				<li>
					<%= link_to('Bets',{ controller: "bets"}) %>
				</li>
				<li>
					<%= link_to('Battles',{ controller: "battles"}) %>
				</li>
				<li>
					<%= link_to('Calculations',{ controller: "calculations"}) %>
				</li>
				<% end %>
				<li>
					<%= link_to('About',{ :controller => :about ,:action=>:index }) %>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right nav-pills nav-stacked">
				<li class="dropdown">
					<% if current_user %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <% if current_user.admin? %>
					<%= current_user.name %> (Admin)
					<% else %>
					<%= current_user.name %> (Player)
					<% end %> <b class="caret"> </b> </a>
					<ul class="dropdown-menu">
						<% if current_user.admin? %>
						<li>
							<%= link_to('Configuration',{ controller: "calculation_configs"}) %>
						</li>
						<% end %>

						<% if current_user.player == nil %>
						<li>
							<%= link_to 'Register', new_player_path %>
						</li>
						<% end %>
						<li>
							<%= link_to 'Download MyBets.pdf', { :controller=>:main , :action=>:my_bets ,:format=>:pdf} %>
						</li>
						<li class="divider"></li>
						<li>
							<%= link_to "Sign out", "/signout" %>
						</li>
					</ul>
					<% else %>
					<%= link_to image_tag("/fb_login_bt.png"), "/auth/facebook", id: "sign_in" %>
					<% end %>
				</li>
			</ul>
		</nav>
	</div>
</header>