<!-- Docs master nav -->
<header class="navbar navbar-static-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<%= link_to("WMSL World Cup 2014",{ controller: "main"} ,:class => "navbar-brand") %>
		</div>
		<nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<% if !@register %>
				<li>
					<%= link_to('Register',{ controller: "players",action: "new"}) %>
				</li>
				<% else %>
				<li>
					<%= link_to('Teams',{ controller: "teams"}) %>
				</li>
				<li>
					<%= link_to('Players',{ controller: "players"}) %>
				</li>
				<li>
					<%= link_to('Matches',{ controller: "matches"}) %>
				</li>
				<li>
					<%= link_to('Battles',{ controller: "battles"}) %>
				</li>
				<li>
					<%= link_to('Bets',{ controller: "bets"}) %>
				</li>
				<li>
					<%= link_to('Calculations',{ controller: "calculations"}) %>
				</li>
				<% end %>
				<li>
					<a href="#">About</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right nav-pills nav-stacked">
				<li class="dropdown">
					<% if @current_user %>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge pull-right">5</span><%= current_user.name %><b class="caret"></b></a>
					<ul class="dropdown-menu">
						<% if @current_user.admin? %>
						<li>
							<%= link_to('Administrator',{ controller: "administrator"}) %>
						</li>
						<% end %>
						<li>
							<a href="#">Setting</a>
						</li>
						<li class="divider"></li>
						<li>
							<%= link_to "Sign out", "/signout" %>
						</li>
					</ul>
					<% end %>
				</li>
			</ul>
		</nav>
	</div>
</header>